<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Exchange rates</li>
    </ol>
</nav>

<table class="table table-sm table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Currency</th>
            <th scope="col">Rate</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let exchangeRate of exchangeRates">
            <th scope="row">{{exchangeRate.currency}}</th>
            <td>
                <a routerLink="/exchange-rate-history/{{exchangeRate.id}}">
                    {{exchangeRate.rate}}
                </a>
            </td>
        </tr>
    </tbody>
</table>

<ngb-pagination
        size="sm"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [collectionSize]="pageCount"
        (pageChange)="onPageChange($event)"
></ngb-pagination>
