<div *ngIf="exchangeRateCurrency">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Exchange rates</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{exchangeRateCurrency}} history</li>
        </ol>
    </nav>

    <table class="table table-sm table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exchangeRate of exchangeRateHistory">
                <th scope="row">{{exchangeRate.date}}</th>
                <td>{{exchangeRate.rate}}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-sm btn-primary" (click)="goBack()">To the list</button>
</div>
