<div class="container">
    <div class="row">
        <h1>{{title}}</h1>
    </div>
    <div class="row">
        <div class="col-sm">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
